:root {
  --animate-duration: 800ms;
  --animate-delay: 0.3s;
}

body {
  touch-action: pan-x pan-y;
}

.map-wrapper {
  touch-action: auto !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.animate__animated.animate__fadeInDown {
  animation-duration: 0.2s;
}

.page-enter-active {
  transition: opacity 0.2s;
}

.page-leave-active {
  transition: opacity 0.2s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
