html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body.no-scroll {
  overflow: hidden;
}

@keyframes helloDarkness {
  0% {
    transform: scale(1.0) rotate(0deg);
    filter: grayscale(0%);
  }
  50% {
    transform: scale(1.5) rotate(5deg);
    filter: grayscale(200%);
  }
  60% {
    transform: scale(1.0) rotate(0deg);
    filter: grayscale(0%);
  }
}

body.helloDarkness {
  animation: helloDarkness linear forwards 20s;
}

body {

  header {
    transition: all ease-in-out 0.5s;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {background:  #222; color: white;}
}

a {
  text-decoration: none;
}

body.sudden-death {
  header {
    background: #444 !important;
    border-color: #000 !important;
    color: #fff !important;

    nav ul li {
      border-color: #000 !important;
    }
  }
}

.button:focus, button:focus, input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus {
  background: #f3f3f3 !important;
  border-color: #9b4dca !important;
  color: #333 !important;

  span {
    color: #333 !important;
  }
}

button.active, .button:hover, button:hover, input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
  background: #9b4dca !important;
  border-color: #8c14ca !important;
  color: #fff !important;

  span {
    color: #fff !important;
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


body {
  padding: 0;
  margin: 0;
  background-color: rgb(243, 243, 243);
  font-family: Lato, Helvetica Neue, Helvetica, sans-serif;
}

.switch {
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 130px;
    height: 60px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: #bada55;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 90px;
  }
}
